In [235]:
import pandas as pd
import sqlite3

In [236]:
df = pd.read_csv('Resources/heart_attack_prediction.csv')

In [237]:
df.columns

Index(['Patient ID', 'Age', 'Sex', 'Cholesterol', 'Blood Pressure',
       'Heart Rate', 'Diabetes', 'Family History', 'Smoking', 'Obesity',
       'Alcohol Consumption', 'Exercise Hours Per Week', 'Diet',
       'Previous Heart Problems', 'Medication Use', 'Stress Level',
       'Sedentary Hours Per Day', 'Income', 'BMI', 'Triglycerides',
       'Physical Activity Days Per Week', 'Sleep Hours Per Day', 'Country',
       'Continent', 'Hemisphere', 'Heart Attack Risk'],
      dtype='object')

In [238]:
df.head()

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,...,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,BMW7812,67,Male,208,158/88,72,0,0,1,0,...,6.615001,261404,31.251233,286,0,6,Argentina,South America,Southern Hemisphere,0
1,CZE1114,21,Male,389,165/93,98,1,1,1,1,...,4.963459,285768,27.194973,235,1,7,Canada,North America,Northern Hemisphere,0
2,BNI9906,21,Female,324,174/99,72,1,0,0,0,...,9.463426,235282,28.176571,587,4,4,France,Europe,Northern Hemisphere,0
3,JLN3497,84,Male,383,163/100,73,1,1,1,0,...,7.648981,125640,36.464704,378,3,4,Canada,North America,Northern Hemisphere,0
4,GFO8847,66,Male,318,91/88,93,1,1,1,1,...,1.514821,160555,21.809144,231,1,5,Thailand,Asia,Northern Hemisphere,0

In [239]:
df.isnull().sum()

Patient ID                         0
Age                                0
Sex                                0
Cholesterol                        0
Blood Pressure                     0
Heart Rate                         0
Diabetes                           0
Family History                     0
Smoking                            0
Obesity                            0
Alcohol Consumption                0
Exercise Hours Per Week            0
Diet                               0
Previous Heart Problems            0
Medication Use                     0
Stress Level                       0
Sedentary Hours Per Day            0
Income                             0
BMI                                0
Triglycerides                      0
Physical Activity Days Per Week    0
Sleep Hours Per Day                0
Country                            0
Continent                          0
Hemisphere                         0
Heart Attack Risk                  0
dtype: int64

In [240]:
df.nunique()

Patient ID                         8763
Age                                  73
Sex                                   2
Cholesterol                         281
Blood Pressure                     3915
Heart Rate                           71
Diabetes                              2
Family History                        2
Smoking                               2
Obesity                               2
Alcohol Consumption                   2
Exercise Hours Per Week            8763
Diet                                  3
Previous Heart Problems               2
Medication Use                        2
Stress Level                         10
Sedentary Hours Per Day            8763
Income                             8615
BMI                                8763
Triglycerides                       771
Physical Activity Days Per Week       8
Sleep Hours Per Day                   7
Country                              20
Continent                             6
Hemisphere                            2
Heart Attack Risk                     2
dtype: int64

In [241]:
df.drop(columns=['Patient ID','Country','Continent','Hemisphere','Income'], inplace=True)

In [242]:
#Reduce specificity to reduce number of unique values (skewing results)
#Blood Pressure 
df[['Systolic Pressure', 'Diastolic Pressure']]  = df['Blood Pressure'].str.split('/', expand=True)
df.drop(columns=['Blood Pressure'], inplace=True)  # Drop the original column
#Exercise Hours Per Week
df['Exercise Hours Per Week'] = df['Exercise Hours Per Week'].astype('int')  
#Sedentary Hours Per Day
df['Sedentary Hours Per Day'] = df['Sedentary Hours Per Day'].astype('int')  
#BMI
df['BMI'] = df['BMI'].astype('int')

In [243]:
#convert categorical to numeric
#Diet and Sex

df = pd.get_dummies(df, columns=['Sex'])
df['Sex_Female'] = df['Sex_Female'].astype('int')
df['Sex_Male'] = df['Sex_Male'].astype('int')


df = pd.get_dummies(df, columns=['Diet'])

df['Diet_Average'] = df['Diet_Average'].astype('int')
df['Diet_Healthy'] = df['Diet_Healthy'].astype('int')
df['Diet_Unhealthy'] = df['Diet_Unhealthy'].astype('int')

In [244]:
df.head()

,Age,Cholesterol,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Previous Heart Problems,...,Physical Activity Days Per Week,Sleep Hours Per Day,Heart Attack Risk,Systolic Pressure,Diastolic Pressure,Sex_Female,Sex_Male,Diet_Average,Diet_Healthy,Diet_Unhealthy
0,67,208,72,0,0,1,0,0,4,0,...,0,6,0,158,88,0,1,1,0,0
1,21,389,98,1,1,1,1,1,1,1,...,1,7,0,165,93,0,1,0,0,1
2,21,324,72,1,0,0,0,0,2,1,...,4,4,0,174,99,1,0,0,1,0
3,84,383,73,1,1,1,0,1,9,1,...,3,4,0,163,100,0,1,1,0,0
4,66,318,93,1,1,1,1,0,5,1,...,1,5,0,91,88,0,1,0,0,1

In [245]:
df.nunique()

Age                                 73
Cholesterol                        281
Heart Rate                          71
Diabetes                             2
Family History                       2
Smoking                              2
Obesity                              2
Alcohol Consumption                  2
Exercise Hours Per Week             20
Previous Heart Problems              2
Medication Use                       2
Stress Level                        10
Sedentary Hours Per Day             12
BMI                                 22
Triglycerides                      771
Physical Activity Days Per Week      8
Sleep Hours Per Day                  7
Heart Attack Risk                    2
Systolic Pressure                   91
Diastolic Pressure                  51
Sex_Female                           2
Sex_Male                             2
Diet_Average                         2
Diet_Healthy                         2
Diet_Unhealthy                       2
dtype: int64

In [246]:
# Database
# Connect to SQLite (creates the database file if it doesn't exist)
conn = sqlite3.connect('heart.db')

# Save DataFrame to SQLite
df.to_sql('heart_attack_risk', conn, if_exists='replace', index=False)

# Close the connection
conn.close()